@model IEnumerable<CommunityViewModel>;

@{
    ViewData["Title"] = "Сообщества";
}

<div class="container-fluid d-flex h-75 justify-content-center align-items-center">
    <div class="row bg-white shadow-sm">
        <div class="col border rounded p-4" style="width:800px;">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3 class="text-center">Подключение сообществ</h3>
                    <p class="text-center">Выберите сообщества, которые хотите подключить к BotBox:</p>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @foreach (var g in Model) {
                        <form method="post" asp-action="AuthorizeCommunity" asp-controller="Community" asp-route-id="@g.Id" asp-antiforgery="true">
                                <div class="media">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(g.Photo))"
                                            class="rounded-circle img-circle-community" alt="@g.Name">
                                    <div class="media-body">
                                        <h5>@g.Name</h5>
                                    </div>
                                </div>

                            @if (g.Connected) {
                                <input type="submit" class="btn btn-danger" value="Отключить">
                            } else {
                                <input type="submit" class="btn btn-outline-success" value="Подключить">
                            }
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>